.btn-signin {
  border: none;
  color: white;
  width: 90px;
  border-radius: 20px;
  background: rgb(88, 187, 219);
  background: linear-gradient(
    90deg,
    rgba(88, 187, 219, 1) 0%,
    rgba(198, 69, 169, 1) 35%
  );
}
