<div class="row gx-0" style="height: 40px;">
    <div class="col">
        <img src="../../assets/images/logoPNG.png" alt="" style="width: 28px;height: 27px; margin: 7px 0px 7px 7px;">
        <span>Easy Media</span>
    </div>
    <div class="col">
        <div class="dropdown" style="float: right;">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Oscar Montes</a></li><!--Nombre del cliente-->
                <hr style="margin: 0px 10% 0px 10%; width: 130px;">
                <li><a class="dropdown-item" href="#">Create publication</a></li>
                <li><a class="dropdown-item" href="#">My Publications</a></li>
                <li><a class="dropdown-item" href="#">See All Publications</a></li>
                <li style="background-color: #DDDADA;"><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="auth-background">
    <router-outlet></router-outlet>
</div>