<div>
    <post-header [titleHeader]="'Create message'"></post-header>
    <div class="container mb-1 mt-4">
        <form action="" [formGroup]="message">
            <div class="mb-3">
                <label for="tittleMessage" class="form-label">Title message</label>
                <input type="text" formControlName="title" class="form-control" id="tittleMessage"
                    placeholder="Your post title" maxlength="30">
                <div id="passwordHelpBlock" class="form-text" style="float: right;">
                    {{message.get('title')?.value.length}}/30
                </div>
            </div>
            <div class="mb-5">
                <label for="messages" class="form-label">Messages</label>
                <textarea class="form-control" formControlName="messages" id="messages" rows="3"
                    placeholder="Create message for share with your friends." maxlength="300"></textarea>
                <div id="passwordHelpBlock" class="form-text" style="float: right;">
                    {{message.get('messages')?.value.length}}/300
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <post-button [class]="'btn btn-signin'" [text]="'SHARE'" (click)="sharePost()"></post-button>
            </div>
        </form>
    </div><!--formulario-->
    <div class="text-center">
        <span style="color: red">{{error}}</span>
    </div>
    <post-postcard [cardClass]="'mx-3 mb-4 mt-5'"
        [textHeader]="message.get('title')?.value.length>0?message.get('title')?.value:'Your post title'"
        [textBody]="message.get('messages')?.value" [textFecha]="fecha" [textName]="name"></post-postcard>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden #modalButton>
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pt-5" style="background-color: #d9d9d9;">
            <div class="modal-body text-center">
                <div>
                    <img src="{{img}}" alt="">
                </div>
                <div>
                    <span>{{succes}}</span>
                </div>
            </div>
            <post-button [divClass]="'px-3 py-3'" [class]="'btn btn-signin'" [text]="'OK'"
                data-bs-dismiss="modal"></post-button>
        </div>
    </div>
</div>